*
!workflow
!workflow/**
!configs
!configs/**
!resources
!resources/**
!results
!results/**
!.gitignore
!*ipynb
**/*test*/
**/*test*
# .snakemake/*
# ./snakemake
# Untitled*.ipynb
# .ipynb_checkpoints
